.container {
  position: absolute;
  left: -300px;
  top: 30px;
  padding: 10px 30px;
  background-color: #0e4b92;
  width: 350px;
  z-index: 2;
  border-radius: 20px;
  @media (max-width: 410px) {
    left: -240px;
    width: 310px;


  }
  .cost {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    border-top: 1px solid black;
    padding: 20px;
  }
}
