.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  cursor: pointer;
  width: 350px;
  min-height: 350px;
  background-color: #1f1f36;
  border-radius: 15px;
  margin: 15px;
  align-items: center;
  text-align: center;
  position: relative;
  flex-direction: column;

  //@media (max-width: 370px) {
  //  width: 300px;
  //}
  //@media(max-width: 320px) {
  //  width: 270px;
  //}

    .title {
      margin: 15px 0 15px 0;
      font-weight: bold;
      font-size: 20px;
    }


    .description {

    }

    .genre {
      margin: 35px 5px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }

    .buy {
      right: 0;
      bottom: -12px;
      position: absolute;
    }
  }
