.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  cursor: pointer;
  width: 350px;
  min-height: 350px;
  background-color: #1f1f36;
  border-radius: 15px;
  margin: 15px;
  align-items: center;
  text-align: center;
  position: relative;



    .title {
      margin: 15px 0 15px 0;
      font-weight: bold;
      font-size: 20px;
    }


    .description {

    }

    .genre {
      margin-top: 15px;


    }

    .buy {
      right: 0;
      bottom: -12px;
      position: absolute;
    }
  }
