.btn {
  border-radius: 15px;
  color: white;
  border: none;
  padding: 7px;
  cursor: pointer;
  background-color: rgb(85, 88, 237);
}

.btnTrue {
  border-radius: 15px;
  color: white;
  border: none;
  padding: 7px;
  cursor: pointer;
  background-color: black;
}