.header {
  width: 83%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  position: fixed;
  z-index: 2;


  .wrapper {
    display: flex;
    flex-grow: 1;

    .storeTitle {
      color: white;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .cart {
    display: flex;
    justify-content: flex-end;
  }
}


