.container {
  display: flex;
  flex-direction: column;

  .one {
    margin-top: 100px;

    .item {
      display: flex;
      justify-content: space-between;

      .image {
        width: 40%;
      }

      .delete {
        cursor: pointer;
        margin-top: 20px;
      }
    }
  }

  .two {
    margin: 100px;

    .amount {
      background-color: #0e4b92;
      border-radius: 6px;
      box-shadow: 5px 5px 6px black;
      padding: 20px;

    }
  }
}
